.about-main {
  padding: 0 30px;
}

.about-main__title {
  .title();
}

.about-main__list {
  .list-reset();
}

.about-list__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
