.advantages-main {
  position: relative;
  padding: 47px 30px 0 30px;
  padding-bottom: 30px;

  @media (min-width: @width-desktop) {
    box-sizing: border-box;
    padding-left: 180px;
    padding-top: 80px;
    padding-bottom: 40px;
  }
}

.advantages-main::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: auto 6px;

  @media (min-width: @width-tablet) {
    background-size: auto 15px;
  }

  @media (min-width: @width-desktop) {
    background-size: auto 23px;
  }
}

.advantages-main__title {
  .text-h2();
  margin-top: 25px;

  @media (min-width: @width-tablet) {
    .text-h1-l();

    margin-top: 20px;
    margin-left: 15px;
    text-align: left;
    max-width: 670px;
  }

  @media (min-width: @width-desktop) {
    .text-h1-xl();

    text-align: left;
    margin-left: 41px;
    margin-bottom: 37px;
    max-width: 850px;
  }
}

.advantages-main__list {
  .list-reset();

  @media (min-width: @width-tablet) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 21px;
    width: 630px;
  }

  @media (min-width: @width-desktop) {
    margin-top: 66px;
    margin-left: 41px;
    width: 745px;
  }
}

.advantages-list__item {
  .text-h3();

  width: 251px;
  display: flex;
  flex-direction: column;
  margin-top: 53px;
  margin-bottom: 30px;
  fill: @main-color;

  @media (min-width: @width-tablet) {
    .text-h2-l();

    width: 47%;
    margin-right: 34px;
    margin-top: 30px;
    margin-bottom: 55px;
  }

  @media (min-width: @width-desktop) {
    width: 44%;
    margin-right: 25px;
    margin-top: 40px;
    margin-bottom: 45px;
  }
}

.advantages-list__item:nth-child(-n+2) {
  @media (min-width: @width-desktop) {
    margin-top: 0;
  }
}

.advantages-list__item:nth-child(2n) {
  @media (min-width: @width-tablet) {
    margin-right: 0;
  }

  @media (min-width: @width-desktop) {
    margin-right: 0;
  }
}

.advantages-list__item:last-child {
  margin-bottom: 0;

  @media (min-width: @width-tablet) {
    margin-bottom: 0;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 0;
  }
}

.advantages-main__icon--eco {
  padding: 11px 0 17px 8px;

  // @media (min-width: @width-tablet) {
  //   order: 1;
  // }
}

.advantages-main__icon--handmade {
  padding: 2px 0 17px 3px;
}

.advantages-main__icon--style {
  padding-bottom: 26px;
}

.advantages-main__icon--native {
  padding: 3px 0 27px 0;
}

.advantages-main__icon--likes {
  padding: 5px 0 20px 8px;
}

.advantages-main__icon--wrapping {
  padding: 0 0 20px 3px;
}
