.button {
  .text-h3();

  border: @border-2;
  display: block;
  text-align: center;
  color: @text-color;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  padding: 15px 25px;
}
