.button {
  display: block;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  color: @text-color;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  border: 2px solid #444444;
  padding-top: 15px;
  padding-bottom: 15px;
}
