.card {
  display: flex;
  flex-direction: column;
}

.card__img {
  display: block;
}

.card__title-link {
  .link-reset();

  color: @black;
}

.card__title {
  .text-h3-l();
}

.card__content-wrapper {
  border: @border-1;
}

.card__description {
  .text-h5();

  color: @text-color;
}

.card__price {
  .text-h4();
}
