.category-list {
  .list-reset();

  @media (min-width: @width-tablet) {
    display: flex;
  }

  @media (min-width: @width-desktop) {
    max-width: 1050px;
    margin: 0 auto;
  }
}

.category-list__item {
  width: 100%;

  @media (min-width: @width-tablet) {
    width: 50%;
  }
}

.category-list__link {
  .text-h2-m();

  background-color: @main-color;
  display: flex;
  align-items: center;
  color: @white;
  text-decoration: none;
  padding: 30px 10px 30px 20px;

  &:hover,
  &:focus,
  &:active {
    background-color: @main-color-hover;
  }

  @media (min-width: @width-tablet) {
    line-height: 30px;
    padding: 25px 10.5% 33px 10.5%;
  }

  @media (min-width: @width-desktop) {
    padding: 25px 7% 35px 7%;
  }
}

.category-list__link--dark {
  background-color: @main-color--dark;

  &:hover,
  &:focus,
  &:active {
    background-color: @main-color--dark-hover;
  }
}
