.contacts-main {
  margin-bottom: 30px;
}

.contacts-main__title {
  .text-h2-s();
}

.contacts-main__table {
  .text-h4-l();

  font-weight: normal;
  color: @text-color;
}

.contacts-main__field {
  min-width: 78px;
}

.contacts-main__value {
  min-width: 182px;
}

.contacts-main__value--email {
  border-bottom: 1px solid @main-color;
}
