.contacts-main {
  margin-bottom: 20px;
  box-sizing: border-box;

  @media (min-width: @width-tablet) {
    margin-bottom: 55px;
  }

  @media (min-width: @width-desktop) {
    width: @width-desktop;
    min-height: 457px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 50px;
    margin: 0 auto 106px;
  }
}

.contacts-main__header-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;

  @media (min-width: @width-tablet) {
    margin-bottom: 24px;
  }

  @media (min-width: @width-desktop) {
    width: 45%;
  }
}

.contacts-main__wrapper {
  position: relative;
  padding: 0 30px;
  padding-top: 25px;
  margin-bottom: 68px;

  @media (min-width: @width-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 62px;
    margin-bottom: 52px;
  }

  @media (min-width: @width-desktop) {
    display: block;
    padding-top: 95px;
    margin-bottom: 52px;
  }
}


.contacts-main__title {
  .text-h2-s();

  margin-bottom: 14px;

  @media (min-width: @width-tablet) {
    .text-h1-l();

    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 55px 23px 3px 15px;
  }

  @media (min-width: @width-desktop) {
    .text-h1-xl();
    margin-top: 77px;
    margin-right: 33px;
  }
}

.contacts-main__icon {
  display: none;

  @media (min-width: @width-tablet) {
    display: block;
    margin-left: auto;
    margin-top: -15px;
  }

  @media (min-width: @width-desktop) {
    order: -1;
    margin-top: -8px;
    margin-left: 18px;
    margin-right: 57px;
  }
}

.contacts-main__table {
  .text-h4-l();

  font-weight: normal;
  color: @text-color;

  @media (min-width: @width-tablet) {
    font-size: 17px;
    margin-left: 15px;
  }

  @media (min-width: @width-desktop) {
    width: 31%;
    margin-left: 140px;
  }
}

.contacts-main__table tbody {
  @media (min-width: @width-tablet) {
    display: flex;
  }

  @media (min-width: @width-desktop) {
    display: block;
  }
}

.contacts-main__table tr:nth-child(1) {
  @media (min-width: @width-tablet) {
    margin-right: 50px;
  }
}

.contacts-main__field,
.contacts-main__value {
  vertical-align: top;
}

.contacts-main__field {
  min-width: 71px;

  &:first-child {
    padding-bottom: 27px;
  }
}

.contacts-main__value {
  min-width: 182px;

  &:first-child {
    padding-bottom: 27px;
  }
}

.contacts-main__email {
  .link-reset();

  color: @text-color;
  padding-bottom: 3px;
  box-shadow: 0 1px 0 0 @main-color--dark-hover;
  transition: 0.35s;

  &:hover,
  &:focus {
    color: @main-color--dark-hover;
    transition: 0.35s;
  }

  &:active {
    color: @main-color--dark-hover-30;
    box-shadow: 0 1px 0 0 @main-color--dark-hover-10;
  }
}

.contacts-main__value--address {
  @media (min-width: @width-tablet) {
    padding-right: 10px;
  }

  @media (min-width: @width-tablet) {
    padding-right: 0;
  }
}

.contacts-main__button {
  .link-reset();

  display: block;
  width: 260px;
  margin: 0 auto 38px;

  @media (min-width: @width-tablet) {
    width: 230px;
  }

  @media (min-width: @width-desktop) {
    margin: 0;
    margin-left: 175px;
    margin-top: 23px;
  }
}
