.footer {
    background-color: @grey-light;
  }

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

// .footer__logo {
//   display: none;
// }
