.map {
  min-height: 457px;
  margin-bottom: 40px;
  position: relative;

  @media (min-width: @width-tablet) {
    margin-bottom: 53px;
  }

  @media (min-width: @width-desktop) {
    position: absolute;
    width: 525px;
    top: 97px;
    right: 50px;
  }
}

.map__iframe {
  width: 100%;
  position: absolute;
  z-index: 20;

  @media (min-width: @width-desktop) {
    width: 100%;
  }

  @media (min-width: @width-desktop) {
    max-width: 100%;
  }
}
