.product-main {
  padding-top: 5px;

  @media (min-width: @width-tablet) {
    box-sizing: border-box;
    min-height: 470px;
    padding-top: 45px;
    padding-bottom: 50px;
  }

  @media (min-width: @width-desktop) {
    min-height: 600px;
    padding-top: 125px;
    padding-bottom: 55px;
  }
}

.product-main__header-wrapper {
  margin-top: 27px;

  @media (min-width: @width-tablet) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    margin-bottom: 50px;
  }

  @media (min-width: @width-desktop) {
    justify-content: flex-start;
  }
}

.product-main__description-wrapper,
.product-main__price-wrapper {
  @media (min-width: @width-tablet) {
    width: 43%;
    float: left;
  }

  @media (min-width: @width-desktop) {
    padding-left: 175px;
    width: 28%;
  }
}

.product-main__description-wrapper {
  @media (min-width: @width-tablet) {
    margin-bottom: 12px;
    margin-top: -50px;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 62px;
  }
}

.product-main__title {
  .text-h2();

  margin: 0;

  @media (min-width: @width-tablet) {
    .text-h1-l();
  }

  @media (min-width: @width-desktop) {
    .text-h1-xl();
    order: 2;
    z-index: 10;
  }
}

.product-main__week {
  .text-h3();

  text-transform: uppercase;
  color: @main-color;
  margin: 0;

  @media (min-width: @width-tablet) {
    max-width: 70px;
    text-align: center;
    line-height: 17px;
    margin-left: auto;
    margin-right: 28px;
  }

  @media (min-width: @width-desktop) {
    margin-left: 0;
    order: 1;
    padding: 2px 27px 0 47px;
  }
}


.product-main__description {
  .text-h4();

  margin-top: 25px;
  margin-bottom: 13px;
  font-weight: normal;
  color: @text-color;

  @media (min-width: @width-tablet) {
    .text-h3-xl();

    margin-top: 50px;
    margin-bottom: 32px;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 44px;
  }
}

.product-main__characteristics {
  .text-h4-s();

  color: @text-color;
  margin-bottom: 25px;
}

.product-main__price {
  .text-h3-l();

  text-align: center;
  color: @text-color;
  margin-bottom: 25px;

  @media (min-width: @width-tablet) {
    font-size: 20px;
    margin-top: 21px;
    margin-bottom: 34px;
  }
}


.product-main__field,
.product-main__value {
  display: inline-block;
  vertical-align: bottom;
  padding: 10px 0 9px 0;
  border-bottom: @border-light;
  font-weight: normal;

  @media (min-width: @width-tablet) {
    padding: 10px 0 7px 0;
  }
}

.product-main__field {
  min-width: 96px;
}

.product-main__value {
  min-width: 160px;
}

.product-main__img {
  display: inline-block;

  @media (min-width: @width-tablet) {
    width: 333px;
    height: auto;
    float: right;
  }

  @media (min-width: @width-desktop) {
    width: 525px;
    height: 636px;
    margin-top: -165px;
  }
}

.product-main__button {
  background-color: transparent;

  @media (min-width: @width-tablet) {
    min-width: 290px;
    margin-left: 0;
  }
}
