.review__content {
  font-size: 15px;
  line-height: 30px;
  color: @text-color;
}

.review__author {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
}

.review__author-social {
  font-size: 17px;
  line-height: 30px;
  color: @text-color;
  text-decoration: none;
}
