.review-main {
  box-sizing: border-box;
  padding-top: 6px;
  padding-bottom: 45px;

  @media (min-width: @width-tablet) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 350px 457px;
    padding-top: 77px;
    padding-bottom: 78px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px 457px;
    }
  }

  @media (min-width: @width-desktop) {
    padding-top: 74px;
    padding-left: 175px;
    padding-bottom: 165px;
    background-position: 50px 0;
  }
}

.review-main__title {
  .text-h2();

  margin-bottom: 24px;

  @media (min-width: @width-tablet) {
    .text-h1-l();

    text-align: left;
    margin: 0;
    order: 1;
    flex-grow: 1;
    margin-bottom: 32px;
    width: 73%;
  }

  @media (min-width: @width-desktop) {
    .text-h1-xl();

    text-align: left;
    margin-left: 45px;
    width: 76%;
  }
}

.review-main__button {
  .link-reset();

  width: 260px;
  display: block;
  margin-top: 40px;
  padding: 15px 10px 15px 10px;

  @media (min-width: @width-tablet) {
    margin-top: 0;
    order: 2;
    align-self: flex-start;
    width: 175px;
  }

  @media (min-width: @width-desktop) {
    margin-top: 8px;
  }
}

.review-main__content {
  @media (min-width: @width-tablet) {
    order: 3;
  }

  @media (min-width: @width-desktop) {
    padding-left: 50px;
  }
}


.review-main__social {
  color: @text-color;
  margin-top: 25px;
  margin-bottom: 33px;

  @media (min-width: @width-tablet) {
    .text-h3-l();

    margin-top: 58px;
    width: 70%;
  }

  @media (min-width: @width-desktop) {
    margin-top: 37px;
  }
}

.review-main__author {
  .text-h3-xl();

  margin-top: 0;
  margin-bottom: 3px;

  @media (min-width: @width-tablet) {
    font-weight: bold;
    margin-top: 56px;
    margin-bottom: 3px;
  }

  @media (min-width: @width-desktop) {
    font-weight: bold;
    margin-top: 37px;
    margin-bottom: 3px;
  }
}

.review-main__nav {
  display: flex;
  margin: 30px 0 35px;

  @media (min-width: @width-tablet) {
    position: absolute;
    bottom: 12px;
    right: 50px;
    order: 4;
  }

  @media (min-width: @width-desktop) {
    bottom: 63px;
    right: 51px;
  }
}

.review-main__nav-button {
  width: 87px;
  height: 50px;
  padding: 0;
  flex-grow: 1;
  background-color: transparent;
  border: @border-light;

  &:first-child {
    border-right: none;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
    cursor: pointer;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @width-tablet) {
    border: none;
  }
}
