.review__text {
  .text-h4-l();

  font-weight: normal;
  color: @text-color;
  margin-bottom: 27px;

  @media (min-width: @width-tablet) {
    font-size: 17px;
    padding-right: 25px;
    order: 3;
  }

  @media (min-width: @width-desktop) {
    padding-right: 80px;
  }
}

.review__author {
  .text-h3-l();

  margin: 0 0 2px 0;
}

.review__author-social {
  .text-h3-l();

  line-height: 30px;
  color: @text-color;
  text-decoration: none;
}
