.site-list {
  .list-reset();

  @media (min-width: @width-tablet) {
    z-index: 5;
    order: 3;
    max-width: 450px;
  }

  @media (min-width: @width-desktop) {
    order: 1;
    min-width: 440px;
  }
}

.site-list__item {
  box-shadow: @box-shadow;

  @media (min-width: @width-tablet) {
    box-shadow: none;
  }

  @media (min-width: @width-desktop) {
    &:first-child {
      border-right: @border-light;
      margin-right: 33px;
    }
  }
}

.site-list__link {
  .link-reset();

  .text-h3-l();

  display: block;
  width: 215px;
  padding: 30px 0 25px 44px;
  color: @black;
  white-space: nowrap;
  transition: 0.35s;

  &[href]:hover,
  &:focus {
    color: @black-60;
    transition: 0.35s;
  }

  &:active {
    color: @black-30;
  }

  @media (min-width: @width-tablet) {
    .text-h4();

    padding-left: 0;
    padding-top: 19px;
    padding-right: 27px;
    width: 140px;
  }

  @media (min-width: @width-desktop) {
    .text-h3-l();

    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 26px;
    padding-left: 0;
    width: 160px;
  }
}

.site-list--closed {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}
