.site-list {
  .list-reset();
}

.site-list__item {
  box-shadow: @box-shadow;
  padding: 30px 25px 30px 50px;
}

.site-list__link {
  .link-reset();

  .text-h3-l();

  color: @black;
  white-space: nowrap;
}
