.wrapper {
  width: @width-mobile;
  box-sizing: border-box;
  padding: 0 30px;
  margin: 0 auto;

  @media (min-width: @width-tablet) {
    padding: 0 50px;
    width: @width-tablet;
  }

  @media (min-width: @width-desktop) {
    width: @width-desktop;
  }
}
