// Цвета
@white: #ffffff;
@white-30: rgba(255, 255, 255, 0.3);
@white-90: rgba(255, 255, 255, 0.9);
@black: #000000;
@black-10: rgba(0, 0, 0, 0.1);
@black-60: rgba(0, 0, 0, 0.6);
@black-30: rgba(0, 0, 0, 0.3);
@icon-green: #149080;
@main-color: #63d1bb;
@main-color-hover: #59d5bc;
@main-color--dark: #56c3b2;
@main-color--dark-hover: #46c1ae;
@main-color--dark-hover-30: rgba(70, 193, 174, 0.3);
@main-color--dark-hover-10: rgba(70, 193, 174, 0.1);
@text-color: #444444;
@text-color-30: rgba(68, 68, 68, 0.3);
@text-color-10: rgba(68, 68, 68, 0.1);
@input-color: rgba(68, 68, 68, 0.3);
@grey: #ececec;
@grey-light: #f1f1f1;
@border-light: 1px solid @grey;
@border-main-color: 2px solid @main-color;
@border-dark: 2px solid #444444;
@border-black: 2px solid #000000;
@box-shadow: 0 1px 0 0 @grey, inset 0 1px 0 0 @grey;

// Размеры
@width-mobile: 320px;
@width-tablet: 768px;
@width-desktop: 1150px;
@mobile-width-only: 767px;
@tablet-width-only: 1149px;

// Разрешение
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

// Шрифты
@main-font: "Open Sans", "Arial", sans-serif;
